.product {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &-img {
        width: 100%;
        height: 80%;

    }

    &-title {
        height: 30px;
    }

    &-brand {
        height: 30px;
    }
}