@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App,
html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;

  &-left-icon {
    margin-right: 50px;
    opacity: 0.5;
  }

  &-right-icon {
    margin-left: 50px;
    opacity: 0.5;
  }

  &-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 530px) {
  .container {
    display: flex;
    align-items: center;

    &-left-icon {
      display: none;
    }

    &-right-icon {
      display: none;
    }
  }
}
